.frontend-home-app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}

.center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  z-index: 3;
  transition: transform 0.3s, background 0.3s;
  backdrop-filter: blur(10px);
  box-shadow: #fff;
  text-decoration: none;
}

.center-card:hover {
  transform: translate(-50%, -50%) scale(1.05);
  background: rgba(255, 253, 253, 0.2);
  box-shadow: 0 10px 20px rgba(0, 234, 255, 0.8);
}

.center-card h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px #000;
}

.swap-word {
  font-size: 2rem;
  color: #00eaff;
  text-shadow: 1px 1px 5px #000;
  transition: all 0.3s;
}

.click-start {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #fff;
  font-style: italic;
}
